<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>FlugApp</title>

    <!-- Bootstrap -->
    <link href="node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

    <!-- AngularJS -->
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="node_modules/angular-i18n/angular-locale_de-de.js"></script>

    <!-- App -->
    <script src="app/app.js"></script>
    <script src="app/converters/passenger-converter.js"></script>
    <script src="app/validators/passenger-validator.js"></script>
    <script src="app/filters/passenger-filter.js"></script>
    <script src="app/services/passenger-service.js"></script>
    <script src="app/controllers/passenger-controller.js"></script>
    <script src="app/components/passenger-card.js"></script>

    <style>
        input.ng-invalid {
            border-left-color: red;
            border-left-width: 10px;
        }

        input.ng-valid {
            border-left-color: green;
            border-left-width: 10px;
        }
    </style>


</head>

<body ng-app="flight-app" ng-controller="PassengerCtrl as vm">

    <div class="container">

        <div class="alert alert-danger" ng-if="error">
            {{error}}
        </div>

        <h1>Passenger Search!</h1>

        <form name="filterForm">
        <div class="form-group">
            <label>Name:</label>
            <input ng-model="vm.filterName" class="form-control" ng-change="vm.search(filterForm.$valid)" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 1000, 'blur': 0 } }">
        </div>

        <div class="form-group">
            <button ng-click="vm.search()" class="btn btn-primary">Search!</button>
        </div>
        </form>


        <table class="table table-striped" ng-show="vm.passengers.length > 0">
            <th>id</th>
            <th>first name</th>
            <th>name</th>
            <th>bonus miles</th>
            <th>status</th>
            <tr ng-repeat="r in vm.passengers" ng-class="{'active': r == vm.selection}">
                <td><a ng-click="vm.select(r)">{{r.id}}</a></td>
                <td ng-bind="r.firstName" />
                <td ng-bind="r.name" />
                <td class="text-right" ng-bind="r.bonusMiles | number" />
                <td ng-bind-template="{{r.passengerStatus | passengerStatus :'short'}} - {{r.passengerStatus | passengerStatus :'long'}}" />
            </tr>
        </table>


        <form name="person" novalidate>
            <div class="form-group">
                <label>Name:</label>
                <input class="form-control" name="username"
                       required
                       ng-minlength="3"
                       ng-maxlength="30"
                       pattern="[A-Za-z0-9\-]+"
                       passenger-name
                       passenger-name-async
                       passenger-name-converter
                ng-model="username">

                <div ng-if="person.$invalid">irgendein error</div>

                <div ng-if="person.username.$invalid">irgendein error am feld username
                <pre>{{person.username.$error | json}}</pre>
                </div>

                <div ng-if="person.username.$error.minlength">
                    Muss doch min. 3 Zeichen haben!
                </div>

                <div ng-if="person.username.$error.maxlength">
                    Darf doch max. 30 Zeichen haben!
                </div>

                <div ng-if="person.username.$error.pattern">
                    Darf doch nur Buchstaben, Ziffern und ein Minus enthalten!
                </div>

                <div ng-if="person.username.$error.passengerName">
                    Custom validator failed
                </div>

                <div ng-if="person.username.$error.passengerNameAsync">
                    Custom async validator failed
                </div>

                <div ng-if="person.username.$pending">
                    Bitte warten ...
                </div>

            </div>
        </form>



        selected item: {{vm.selection}}
        <div ng-repeat="r in vm.passengers" ng-class="{'active': r == vm.selection}">
            <passenger-card item="r" selection="vm.selection" selection-change="vm.selection = $event">plz transclude me</passenger-card>
        </div>







    </div>







<pre>
    Daten:
    --------------
{{vm.passengers | json}}
</pre>

</body>
</html>
