<div class="panel-heading">
    <h3 class="panel-title" ng-bind-template="Edit Passenger with id: {{vm.id}}"></h3>
</div>
<div class="panel-body">
    <div ng-bind-template="{{vm.passenger.firstName}} {{vm.passenger.name}}" />
</div>




<form name="person" novalidate>
    <div class="form-group">
        <label>Name:</label>
        <input class="form-control" name="username"
               required
               ng-minlength="3"
               ng-maxlength="30"
               pattern="[A-Za-z0-9\-]+"
               passenger-name
               passenger-name-async
               passenger-name-converter
               ng-model="username">

        <div ng-if="person.$invalid">validation fail detected on form</div>

        <div ng-if="person.username.$invalid">validation fail detected on field username

        </div>

        <div><pre>{{person.username.$error | json}}</pre></div>


        <div ng-if="person.username.$error.minlength">
            Muss doch min. 3 Zeichen haben!
        </div>

        <div ng-if="person.username.$error.maxlength">
            Darf doch max. 30 Zeichen haben!
        </div>

        <div ng-if="person.username.$error.pattern">
            Darf doch nur Buchstaben, Ziffern und ein Minus enthalten!
        </div>

        <div ng-if="person.username.$error.passengerName">
            Custom validator failed
        </div>

        <div ng-if="person.username.$error.passengerNameAsync">
            Custom async validator failed
        </div>

        <div ng-if="person.username.$pending">
            Bitte warten ...
        </div>

    </div>
</form>